<div class="container">
  <p-card>
    <h3>問卷</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label>姓名</label>
          <input placeholder="name" pInputText />
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label>手機</label>
          <input placeholder="09xxxxxxxx" pInputText />
        </div>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-6"></div>
  </p-card>
</div>
